___
<a href='http://www.kgptalkie.com'><img src='../kgptalkie_strips.png'/></a>
___

<center><em>Copyright by KGPTalkie</em></center>
<center><em>For free ML tutorials, visit us at <a href='http://www.kgptalkie.com'>www.kgptalkie.com</a> and <a href='http://www.youtube.com/kgptalkie'>www.youtube.com/kgptalkie</a> </em></center>

# Python Crash Course

## Data types

## Numbers

In [57]:
2 + 2

4

In [58]:
type(2)

int

In [59]:
2 * 3

6

In [60]:
2*3

6

In [61]:
2 -3

-1

In [62]:
type(2-3)

int

In [63]:
abs(2-3)

1

In [64]:
2/3

0.6666666666666666

In [65]:
5/2

2.5

In [66]:
type(5/2)

float

In [67]:
int(5/2)

2

In [68]:
5//2

2

In [69]:
5%2

1

In [70]:
2**3

8

In [71]:
3**2

9

In [72]:
1 + 1.0

2.0

In [73]:
5//2.0

2.0

## Variable  Assignment

In [74]:
var_name = 2

In [75]:
varname_ = 2

In [76]:
_varname = 2

In [77]:
varname12 = 2

In [78]:
var_name

2

In [79]:
varname_

2

In [80]:
varname12

2

In [81]:
type(var_name)

int

In [82]:
float_var = 2.0

In [83]:
type(float_var)

float

In [84]:
a = 1
b = 3.9
c = a + b
c

4.9

In [85]:
type(c)

float

In [86]:
float = 2

In [87]:
var_name

2

In [88]:
del float

In [89]:
float(var_name)

2.0

In [90]:
# float, int, double, for, if, else

## String

In [91]:
# ' '
# " "

In [92]:
'this is string'

'this is string'

In [93]:
type('this is string')

str

In [94]:
type("this is string")

str

In [95]:
string = 'this is string'

In [96]:
string

'this is string'

In [97]:
string = " this is double "

In [98]:
string

' this is double '

In [99]:
print(string)

 this is double

In [100]:
string = 'this is KGP Talkie"s lesson'

In [101]:
print(string)

this is KGP Talkie"s lesson

In [102]:
string = "this is KGP Talkie's lesson"
print(string)

this is KGP Talkie's lesson

In [103]:
string = 'this is KGP Talkie\'s lesson'
print(string)

this is KGP Talkie's lesson

In [104]:
string = r"this is KGP Talkie's lesson"
print(string)

this is KGP Talkie's lesson

In [105]:
string = "this is KGP Talkie's" + ' 2nd ' +  "lesson"
print(string)

this is KGP Talkie's 2nd lesson

In [106]:
string = "this is KGP Talkie's {}nd lesson".format(2)
print(string)

this is KGP Talkie's 2nd lesson

## List

In [107]:
# [], (), {}

In [108]:
x = [1, 2, 3, 4, 5]
x

[1, 2, 3, 4, 5]

In [109]:
x = [1, 2, 'three', 4.0]

In [110]:
x

[1, 2, 'three', 4.0]

In [111]:
x.append(5)
x

[1, 2, 'three', 4.0, 5]

In [112]:
x.pop()

5

In [113]:
x.insert(0, 'One')

In [114]:
x

['One', 1, 2, 'three', 4.0]

In [115]:
x[:2]

['One', 1]

## Set

In [116]:
l = [1, 1, 2, 2]

In [117]:
l

[1, 1, 2, 2]

In [118]:
type(l)

list

In [119]:
s = {1, 1, 2, 2}

In [120]:
s

{1, 2}

In [121]:
set(l)

{1, 2}

In [122]:
s = {1, 'one', 2.0, 'three'}
s

{1, 2.0, 'one', 'three'}

In [123]:
l = [1, 'one', 2.0, 'three']
l

[1, 'one', 2.0, 'three']

In [124]:
l[1]

'one'

## Tuple

In [125]:
# ()

In [126]:
t = (1, 'two', 'three')

In [127]:
t

(1, 'two', 'three')

In [128]:
t[0]

1

In [129]:
t[2]

'three'

In [130]:
t[0] = 2

TypeError: 'tuple' object does not support item assignment

In [ ]:
t[:1]

(1,)

In [ ]:
t[-2:]

('two', 'three')

## Dictionary

In [ ]:
# {}

In [ ]:
# key:value

In [ ]:
d = {'key1': 'value1', 'key2':'value2'}
type(d)

dict

In [ ]:
d

{'key1': 'value1', 'key2': 'value2'}

In [ ]:
d = {1:'One', 'two': 2}
d

{1: 'One', 'two': 2}

In [ ]:
d.keys()

dict_keys([1, 'two'])

In [ ]:
d.values()

dict_values(['One', 2])

In [ ]:
d.items()

dict_items([(1, 'One'), ('two', 2)])

In [ ]:
d['three'] = 3.0

In [ ]:
d

{1: 'One', 'two': 2, 'three': 3.0}

In [ ]:
d['three'] = 3

In [ ]:
d

{1: 'One', 'two': 2, 'three': 3}

## Boolean and Comparison Operator

In [ ]:
True

True

In [ ]:
False

False

In [ ]:
1>2

False

In [ ]:
2>1

True

In [ ]:
10 == 12

False

In [ ]:
10 == 10

True

In [ ]:
10 != 11

True

In [ ]:
None == None

True

In [ ]:
None != None

False

In [ ]:
'string' == 'string'

True

In [ ]:
'string ' == 'string'

False

## Logical Operator

In [ ]:
# and, or

In [ ]:
10 or 8

10

In [ ]:
0 or 1

1

In [ ]:
5 or 4

5

In [ ]:
(1 == 2) or (1 == 1)

True

In [ ]:
(1 == 2) and (1 == 1)

False

In [ ]:
False and True

False

In [ ]:
True and True

True

In [ ]:
False and False

False

In [ ]:
(1 > 2) and ((3 > 2) or ( 7 > 5))

False

# If, Else, Elif

In [ ]:
if (1 > 2):
    print('True')

In [ ]:
if False:
    print('this is true')

In [ ]:
(1 > 2)

False

In [ ]:
if (2>1):
    print('True')

True

In [ ]:
(2>1)

True

In [ ]:
if True:
    print('True')

True

In [ ]:
if (1>2):
    print('1>2')
else:
    print('1 is not greather than 2')

1 is not greather than 2

In [ ]:
age = 19

if age >= 20 and age < 40:
    print('I am young')
elif age >= 40:
    print('I am old')
else:
    print('I am kid')

I am kid

## For and While Loop

In [ ]:
l

[1, 1, 2, 2]

In [ ]:
l[0]

1

In [ ]:
l[1]

1

In [ ]:
for item in l:
    print(item, type(item))

1 <class 'int'>
1 <class 'int'>
2 <class 'int'>
2 <class 'int'>

In [131]:
t

(1, 'two', 'three')

In [132]:
for item in t:
    print(item)

1
two
three

In [133]:
for item in 2:
    print(item)

TypeError: 'int' object is not iterable

In [93]:
range(2)

range(0, 2)

In [94]:
for item in range(2):
    print(item)

0
1

In [99]:
i = 0
while i < len(l):
    print(l[i])
    i = i + 1

1
one
2.0
three

In [97]:
len(l)

4

In [98]:
4 < 4

False

## Lambda Method

In [103]:
def method1(x):
    x  = x ** 2
    print(x)

In [104]:
method1(4)

16

In [105]:
def method2(x):
    x = x ** 2
    return x

In [106]:
method2(4)

16

In [109]:
res1 = method1(4)

16

In [110]:
res2 = method2(4)

In [111]:
res1

In [112]:
res2

16

In [134]:
x = lambda y: y ** 2

In [135]:
x(4)

16

In [137]:
x = lambda a,b: a * b

In [138]:
x(20, 3)

60

# Other Resources
|  ML Course | Description |
|:---|:---|
| [**Data Visualization in Python Masterclass™: Beginners to Pro**](https://bit.ly/udemy95off_kgptalkie) |  Learn to build Machine Learning and Deep Learning models using Python and its libraries like Scikit-Learn, Keras, and TensorFlow. |
| [**Python for Machine Learning: A Step-by-Step Guide**](https://bit.ly/ml-ds-project) | Learn to build Machine Learning and Deep Learning models using Python and its libraries like Scikit-Learn, Keras, and TensorFlow. |
| [**Python for Linear Regression in Machine Learning**](https://bit.ly/regression-python) | Learn to build Linear Regression models using Python and its libraries like Scikit-Learn. |
| [**Introduction to Spacy 3 for Natural Language Processing**](https://bit.ly/spacy-intro) | Learn to build Natural Language Processing models using Python and its libraries like Spacy. |
| [**Advanced Machine Learning and Deep Learning Projects**](https://bit.ly/kgptalkie_ml_projects) | Learn to build Advanced Machine Learning and Deep Learning models using Python and transformer models like BERT, GPT-2, and XLNet. |
| [**Natural Language Processing in Python for Beginners**](https://bit.ly/intro_nlp) | Learn to build Natural Language Processing Projects using Spacy, NLTK, and Gensim, and transformer models like BERT, GPT-2, and XLNet. |
| [**Deployment of Machine Learning Models in Production in Python**](https://bit.ly/bert_nlp) |  Learn to deploy Machine Learning and Deep Learning models using Python and its libraries like Flask, Streamlit, and NGINX. |
| [**R 4.0 Programming for Data Science - Beginners to Pro**](https://bit.ly/r4-ml) | Learn to build Machine Learning and Deep Learning models using R and its libraries like caret, tidyverse, and keras. |